.pied-de-page {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}
.header {
    background-color: #000000;
    padding: 10px 0;
    text-align: center;
    font-family: Arial, sans-serif;
    align-items: center;
    justify-content: center;
}
.nav-items .nav-link {
    color: #ffffff !important;
    font-weight: bold;
}